/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
   /* Add padding to avoid content overlapping the navbar */
  min-width: 450px; /* Set minimum width */
  min-height: 72px; /* Set minimum height */
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
